@{
    ViewData["Title"] = "Create New Rental";
}


<form asp-action="Create" method="post">
    <h2>Main</h2>
    <div class="row">
        <div class="col-md-4">
            <h4>Create New Rental</h4>
            <div class="form-check">
                <input id="isNewCustomer" class="form-check-input" type="checkbox" name="isNewCustomer" value="true" />
                <label class="form-check-label" for="isNewCustomer">I am a new customer</label>
            </div>

            <div class="form-group" id="CustomerIdBlock" >
                <label for="CustomerId">Customer</label>
                <select name="CustomerId" class="form-control" asp-items="ViewBag.CustomerId">
                    <option value="">Select an Existing Customer</option>
                </select>
            </div>

            <div class="form-group">
                <label for="InventoryId">Equipment</label>
                <select name="InventoryId" class="form-control" asp-items="ViewBag.InventoryId"></select>
            </div>

            <div class="form-group">
                <label for="TariffId">Tariff</label>
                <select name="TariffId" class="form-control" asp-items="ViewBag.TariffId"></select>
            </div>

            <div class="form-group">
                <label for="PaymentMethod">Payment Method</label>
                <select name="PaymentMethod" class="form-control" asp-items="ViewBag.PaymentMethods"></select>
            </div>
        </div>
        <div class="col-md-4">
            <div id="newCustomerFields" style="display:none;">
                <h4>Create New Customer</h4>
                <div class="form-group">
                    <label for="NewCustomerFullName">Full Name</label>
                    <input name="NewCustomerFullName" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="NewCustomerPhone">Phone</label>
                    <input name="NewCustomerPhone" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="NewCustomerEmail">Email</label>
                    <input name="NewCustomerEmail" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="NewCustomerAddress">Address</label>
                    <input name="NewCustomerAddress" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="NewCustomerPassportNumber">Passport Number</label>
                    <input name="NewCustomerPassportNumber" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-10">
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>


@section Scripts {
    <script>
        document.getElementById("isNewCustomer").addEventListener("change", function() {
            var newCustomerFields = document.getElementById("newCustomerFields");
            newCustomerFields.style.display = this.checked ? "block" : "none";
            document.getElementById("CustomerIdBlock").style.display = this.checked ? "none" : "block"
        });
    </script>
}